SCREENSHOT_PORT=8767
SCREENSHOT_TIMEOUT=30
SCREENSHOT_MAX_WIDTH=3840
SCREENSHOT_MAX_HEIGHT=2160
CHROMIUM_EXECUTABLE_PATH=/usr/bin/chromium-browser
SCREENSHOT_ALLOWED_PRIVATE_HOSTS=10.142.1.123,10.142.1.136
